<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	     <!-- c3p0配置 -->
	    <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
	    <property name="hibernate.c3p0.max_size">30</property>
	    <property name="hibernate.c3p0.min_size">5</property>
	    <property name="hibernate.c3p0.timeout">60</property>
	    
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://47.96.24.30:3306/LzzOrder?autoReconnect=true</property>

		<property name="connection.username">root</property>
		<property name="connection.password">12345</property>
		<property name="connection.useUnicode">true</property> 
		<property name="connection.useSSL">true</property> 
		<property name="connection.characterEncoding">utf-8</property>
		
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		
		<property name="hbm2ddl.auto">update</property>
		<mapping resource="com/lzz/order/pojo/LzzID.hbm.xml"/>
		
		
		
		


<mapping resource="com/lzz/order/pojo/LzzAfterSale.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzCart.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzCoupon.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzDictionary.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzFileGroup.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzFileInfo.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzGood.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzGoodCategory.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzGoodEvaluate.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzGoodFormat.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzGoodTaste.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzOrder.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzOrderInfo.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzOrderSendMode.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzUser.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzUserAddress.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzUserCoupon.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzUserTaste.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzExpressCompany.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzShopEvaluate.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzCategory.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzUserGoodInterested.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzUserSession.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzUserGoodViewed.hbm.xml"/>

<mapping resource="com/lzz/order/pojo/LzzIndexDisplay.hbm.xml"/>



	</session-factory>
</hibernate-configuration>